:root{
   --bs-body-bg:#f5f7fb;  /* Your color */
}

body{
background:#f5f7fb;
font-family:'Inter',sans-serif;
margin:0;
}

/* LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:#fff;
z-index:9999;
display:flex;
align-items:center;
justify-content:center;
}

.spinner{
width:50px;
height:50px;
border:5px solid #ddd;
border-top:5px solid #0d6efd;
border-radius:50%;
animation:spin 1s linear infinite;
}
#searchTool{
border-radius:30px;
padding-left:20px;
}

.pagination .page-link{
border-radius:8px;
margin:0 3px;
}

.pagination .active .page-link{
background:#0d6efd;
border-color:#0d6efd;
}



/* NAV */
.navbar{
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

/* HERO */
.hero{
background:linear-gradient(135deg,#0d6efd,#6610f2);
color:white;
padding:80px 15px;
text-align:center;
}

.hero h1{
font-weight:700;
font-size:2.5rem;
}

.hero p{
opacity:0.9;
font-size:1.1rem;
}

/* INFO */
.info-box{
background:white;
border-radius:12px;
padding:30px;
box-shadow:0 3px 15px rgba(0,0,0,0.07);
margin-top:-40px;
position:relative;
z-index:1;
}

/* TOOL CARD */
.tool-card{
background:white;
border-radius:14px;
padding:22px;
box-shadow:0 4px 15px rgba(0,0,0,0.08);
text-align:center;
height:100%;
transition:0.3s;
}

.tool-card:hover{
transform:translateY(-6px);
box-shadow:0 6px 20px rgba(0,0,0,0.12);
}

.tool-card h5{
font-weight:600;
}

/* FOOTER */
footer{
background:#212529;
color:#ccc;
padding:30px 15px;
margin-top:60px;
text-align:center;
}

footer a{
color:#aaa;
text-decoration:none;
}

/* OFFCANVAS */
.offcanvas{
width:280px;
}

.offcanvas-body .nav-link{
font-size:18px;
padding:12px 0;
}


/* qr code generator ------------- */
.option-btn{

    cursor:pointer;
}

.option-btn.active{
    background:#7c5cff;
}

.cardcustom .btn-purple{
    background:#7c5cff;
    
}

.cardcustom .btn-purple:hover{
    background:#6847ff;
}





.qr-box{
    background:white;
    min-height:235px;
    border-radius:15px;
    padding:2px;
    display: flex;
    align-items: center;      /* Vertical */
    justify-content: center;  /* Horizontal */
    overflow: hidden;
    text-align: center;
}

.hidden{
    display:none;
}

.cardcustom{
   
    border-radius:15px;
    border: 1px solid black;
    color: black;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(5px);
}

/* ------------------------------------------------------------------------------------------------------------------------ */
#printView{
  position: absolute;
  left: -9999px;
  top: 0;
  width: 800px;
  background: #fff;
  padding: 30px;
  color: #000;
}


#printView h3{
 text-align:center;
 margin-bottom:5px;
}

#printView .line{
 border-bottom:1px solid #000;
 margin:15px 0;
}

#printView table{
 width:100%;
 border-collapse:collapse;
}

#printView th,#printView td{
 border:1px solid #000;
 padding:6px;
 text-align:left;
}

#printView .sign{
 margin-top:50px;
 display:flex;
 justify-content:space-between;
}

#printView .sign div{
 width:45%;
 text-align:center;
}






.section-title{
background:#6c8fa3;
color:white;
padding:10px 15px;
font-weight:600;
border-radius:5px;
margin-top:15px;
}

.card-box-custom{
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
margin-bottom:15px;
}

.form-control{
border:none;
border-bottom:1px solid #aaa;
border-radius:0;
padding-left:0;
}

.form-control:focus{
box-shadow:none;
border-color:#0d6efd;
}

.table input{
width:100%;
border:none;
border-bottom:1px solid #ccc;
}

.btn{
width:100%;
margin-bottom:8px;
}

/* tag generate start */
.ccsx{
  border-radius:18px;
  box-shadow:0 20px 60px rgba(0,0,0,.4);
}
.headslsfei{
  background:#bdbde1;
  padding:25px;
  text-align:center;
}
.tag{
  display:inline-block;
  background:#fff;
  color:#000;
  padding:8px 14px;
  border-radius:20px;
  margin:5px;
  cursor:pointer;
  font-size:.9rem;
}
.tag:hover{
  background:#ff0000;
  color:#fff;
}
.textcenters{
    justify-content: center;
}
.search-wrap{
  display:flex;
  align-items:center;
  gap:12px;
  overflow: hidden;
  border-radius:999px;
  background-color: transparent;
border: 1PX solid rgb(225, 221, 221);
}
.search-wrap:focus-within{
  border-color:#95bcf7;
  box-shadow:0 5px 2px rgba(13,110,253,.25);
}

.search-input{
  flex:1;
  background:transparent;
  border:none;
  outline:none;
  color:#010101;
  font-size:16px;
  padding:14px 18px;
}
.slfjifji{
    margin: 30px;
}

.search-input::placeholder{
  color:#aaa;
}

.search-btn{
  background:#080808;
  color:#ffffff;
  border:none;
  padding:10px 22px;
  border-radius:999px;
  font-weight:600;
  font-size:14px;
  cursor:pointer;
  margin: 5px;
  transition:all .2s ease;
}

.search-btn:hover{
  background:#464444;
  transform:translateY(-1px);
}

.search-btn:active{
  transform:scale(.96);
}

/* tag generate end */

/* ===== PRINT / PDF FIX ===== */

@media print{
 body *{
  visibility:hidden;
 }

 #printView, #printView *{
  visibility:visible;
 }

 #printView{
  position:absolute;
  left:0;
  top:0;
  width:100%;
 }
}

/* Prevent page break */
.card-box-custom, .section-title {
  page-break-inside: avoid;
}

/* Reduce top space */
#payslip {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

@media(min-width:768px){
.btn{
width:auto;
margin:5px;
}
}

.total-box{
background:#f1f5f8;
padding:10px;
border-radius:5px;
font-weight:600;
margin-top:10px;
text-align:center;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

@keyframes spin{
100%{transform:rotate(360deg);}
}

/* MOBILE */
@media(max-width:768px){

.hero{
padding:60px 15px;
}

.hero h1{
font-size:2rem;
}

}

.page-box{background:white;padding:30px;border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);}
.margintop{
    margin-top: 70px;
}
